.Xil
microblaze_getting_started.cache
microblaze_getting_started.gen
microblaze_getting_started.hw
microblaze_getting_started.ip_user_files
microblaze_getting_started.runs
microblaze_getting_started.sim
vitis_new_workspace
vitis_workspace
workspace
workspace_15h33
*.xsa
*.elf
*.log
newest_ws
